.product {
  text-align: center !important;
  background-color: lightgrey;
  margin: 50px 20px 20px 20px;
  padding: 20px;
}

#name {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#price {
  font-weight: bold;
}

.Button {
  margin: 20px
}
